<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://kit.fontawesome.com/e1f48dd0e6.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Lato|Source+Sans+Pro&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

  {% if title %}
  <title>def twit() | {{ title }}</title>
  {% else %}
  <title>def twit()</title>
  {% endif %}


</head>

<body>

  <nav class="navbar bg-dark">
    <div>
      <h1 id="logo">
        <a href="{{ url_for('home') }}">
          <code>def twit()</code>
        </a>
      </h1>
    </div>

    <ul>
      <li><a href="{{ url_for('home') }}">Home</a></li>
      <li><a href="{{ url_for('about') }}">About</a></li>
    </ul>
  </nav>

  {% block content %}
  {% endblock content %}

</body>

</html>